*.xlsx 
*.log 
*.csv 
downloads/ 
*.csv* 
*.xlsx* 
*.log 
aws_credentials.json 
aws_credentials_sym.json 
*.xlsx 
*.csv 
*.log 
downloads/ 
aws_credentials.json 
aws_credentials_sym.json 
downloads/ 
*.xlsx 
*.csv 
*.log 
aws_credentials.json 
aws_credentials_sym.json 
